@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1882FF;
  --secondary: #1A2B3D;
  --muted: #5A6573;
  --tag: #FFA03B;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}